name: CI/CD - Despliegue en Vercel

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:

  tests:
    if: github.ref == 'refs/heads/main'
    name: Pruebas unitarias
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Instalar dependencias
        run: npm install

      - name: Verificar que el proyecto contiene JavaScript
        run: |
          if ! grep -rq "\.js" .; then
            echo "No se encontraron archivos JavaScript. Cancelando..."
            exit 1
          else
            echo "Se encontraron archivos JavaScript."
          fi

      - name: Ejecutar pruebas unitarias
        run: |
          npm test || (echo "Las pruebas fallaron." && exit 1)
          echo "Pruebas unitarias completadas correctamente."


  docs:
    if: github.ref == 'refs/heads/main'
    name: Generaci贸n de documentaci贸n
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Instalar dependencias
        run: npm install

      - name: Generar documentaci贸n con JSDoc
        run: |
          echo "Generando documentaci贸n con JSDoc..."
          mkdir -p docs
          npx jsdoc -c jsdoc.json || true
          echo "Documentaci贸n generada en /docs"

      - name: Subir documentaci贸n como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs/


  deploy:
    if: github.ref == 'refs/heads/main'
    name: Despliegue en Vercel
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar CLI de Vercel
        run: |
          npm install -g vercel
          vercel --version
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

      - name:  Desplegar en Vercel
        run: |
          vercel --prod --yes --token ${{ secrets.VERCEL_TOKEN }}
